<td
  class="rk-cal__day {{classNames.toJSON}}"
  role="gridcell"
  data-date="{{date.toJSON}}"
  data-day-key="{{key}}"
  data-rowindex="{{indexes.week}}"
  data-colindex="{{indexes.weekday}}">
  <span class="rk-cal__day__num" aria-label="{{date.toJSON}}">{{vm.textDate.toJSON}}</span>
</td>
